* {
  font-family: Verdana, Geneva, sans-serif;
}

@media only screen and (max-width: 480px) and (min-width: 20px) {
  section {
    background-color: #104e8b;
    color: #990F02;
    padding: 10px !important;
    display: inline-block;
    width: 95% !important;
  }
  
  }

body {
    margin: 20px;
    background-image: url("./bg.jpeg");
    text-align: center;
}

h1 {
  font-size: 60px;
  color: #fffff;
}

h2 {
  font-size: 40px;
  color: #ffffff;
}

h3 {
font-size: 30px;
  color: #eeffff;
}

p, li {
  font-size: 20px;
}

a {
  color: #104e8b;
  background-color: #eeffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  background-color: #104e8b;
  text-decoration: none;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

span {
    font-size: 9em;
}

li {
    text-align: left;
}

section {
  margin-top: 50px;
  border-radius: 30px;
  padding: 10px 70px;
}

.invitation, .joining, .recipe {
  width: 80%;
}

.invitation, .invitation > p{
  background-color: #cc0000;
  color: #ffffff;
  font-size: 25px;
}

.joining, .recipe {
  background-color: #cc0000;
  color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

